/*
	green color : #1abc9c
*/




.bg-intro{
	background-attachment: fixed;
	background-image: url('https://livedemo00.template-help.com/wordpress_50917/wp-content/themes/theme50917/images/header-bg.jpg');
	height: 100vh;
	background-size: cover;
}
.logo{
	height: 100px;
}
.profile-pic-section{
	position: absolute;
    left: 50%;
    margin-left: -200px;
    bottom: -200px;
}
.profile-pic{
	height: 400px;
    width: 400px;
    border: 15px solid #f9f9f9;
    border-radius: 50%;
    overflow: hidden;
}
.profile-pic img{
	width: 100%;
}
.logo-tagline{
	color: #ffffff;
	text-decoration: none;
}
.logo-tagline span{
	font-size: 6em;
	font-weight: 800;
}
.logo-tagline p{
	line-height: 1.2em;
	padding: 16px 0 0 0;
	font-size: 2em;
}
.logo-tagline:hover, 
.logo-tagline:active, 
.logo-tagline:focus{
	color: #ffffff;
	text-decoration: none;
	outline:none;
}
.social-links li{
	float: left;
}
.social-links li a {
	text-align: center;
    width: 46px;
    display: inline-block;
    height: 46px;
    font-size: 12px;
    border: 2px solid #1abc9c;
    line-height: 4.5;
    margin: 0 5px;
    border-radius: 50%;
    color: #1abc9c;
    -webkit-transition:.5s;
}
.social-links{
	display: inline-block;
	margin-top: 50px;
}
.social-links li a:hover{
	color: #fff;
	border-color: #ffffff;
	box-shadow: 0 0 12px rgba(255,255,255,0.2);
	transform: scale(1.1);
}
.about-me {
	padding: 15% 10% 5%;
    text-align: center;
    background-color: #e6e6e6;
}
.title-box-primary{
	font-size: 24px;
    font-family: 'Sarina',cursive;
    text-transform: lowercase;
    line-height: 1.2em;
    margin-bottom: 6px;
    padding: 0;
    margin:0;
}
.title-box-secondary{
	font-size: 42px;
	font-family: 'Russo One',sans-serif!important;
	color: #000;
	text-transform: uppercase;
	font-weight: 800;
}
.title-box-sub-secondary{
	color: #1abc9c;
}
.personal-details-icons{
    width: 80px;
    height: 80px;
    border: 2px solid #1abc9c;
    border-radius: 50%;
    padding: 5%;
    margin: 0 auto;
    color: #1abc9c;
}
figcaption.personal-caption{
	margin: 15px 0 10px 0px;
    font-size: 22px;
    line-height: 1.2em;
}
.skills{
	padding: 3% 0 5% 0;
	color: #ffffff;
	background-attachment: fixed;
	background-image: url('https://livedemo00.template-help.com/wordpress_50917/wp-content/themes/theme50917/images/header-bg.jpg');
	height: 80vh;
	background-size: cover;
}
.skills-wrapper{
	position: relative;
	margin: 10px 0;
}
.skills-wrapper .diagram{
	background-image: url('https://livedemo00.template-help.com/wordpress_50917/wp-content/themes/theme50917/images/diagram-tail.gif');
	background-repeat: repeat-x;
	height: 54px;
}
.diagram span{
	position: absolute;
    top: 28px;
    left: 15px;
    height: 38px;
    background-image: url('https://livedemo00.template-help.com/wordpress_50917/wp-content/themes/theme50917/images/diagram-active.gif');
    background-repeat: repeat-x;
}
.diagram::after{
    background-image: url(images/diagram-right.png);
    content: "";
    height: 54px;
    width: 10px;
    position: absolute;
    right: 5px;
    background-position: right center;
    background-repeat: no-repeat;
}
.diagram::before{
    background-image: url(images/diagram-left.png);
    content: "";
    height: 54px;
    width: 10px;
    position: absolute;
    left: 5px;
    background-position: right center;
    background-repeat: no-repeat;
}
.skills-wrapper + .label {
    padding-top: 45px;
    font-size: 24px;
}
.resume {
	background-color: #e6e6e6;
	padding: 3% 0 5% 0;
}
h3.career-button{
    text-align: left;
    padding: 20px;
    border: 2px solid #1abc9c;
    width: auto;
    display: inline-block;
    color: #1abc9c;
    margin: 8% 0 5% 0;
}
.border-right{
	border-right:1px solid #000000;
}
.horizontal-line{
	border-bottom:1px solid #000000;
}
.portfolio {
	background-color: #1abc9c;
	padding: 3% 0 5% 0;
}
ul.project-categories li{
    display: inline-block;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    color: #ffffff;
    padding: 5px 20px;
    margin: 3% 5px 4%;
}
img.project-thumbnail{
	padding: 10px 0;
}
.project{
	position: relative;
}
.project span{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.project span::before{
	content: "";
	width: 60px;
	height: 60px;
	background-image: url('');
}